doctype
html
	head
		title Image search Abstraction
	body
		h1 Image search Abstraction
		h3 Image search
		p Example of use : 
			a(href="/api/imagesearch/funny%20cat?offset=1") /api/imagesearch/funny%20cat?offset=1
		h3 Search history
		p Example of use : 
			a(href="/api/searchlog") /api/searchlog
